@model IEnumerable<SV21T1020793.DomainModels.Shipper>
@{
    ViewBag.Title = "Quản lý người giao hàng";
}

<div class="box box-primary">
    <div class="box-body">
        <!--Form để nhập đầu vào tìm kiếm -->
        <form action="~/Shipper">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Nhập tên người giao hàng cần tìm..." />
                <div class="input-group-btn">
                    <button class="btn btn-info">
                        <i class="fa fa-search"></i>
                    </button>
                    <a href="~/Shipper/Create" class="btn btn-primary" style="margin-left:5px">
                        <i class="fa fa-flus"></i> Bổ sung
                    </a>
                </div>
            </div>
        </form>

        <!-- Hiển thị kết quả tìm kiếm (dữ liệu) -->
        <p style="margin:10px 0 10px 0">
            Có <strong>@ViewBag.RowCount</strong> người giao hàng trong tổng số <strong>@ViewBag.PageCount</strong> trang
        </p>

        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr class="bg-primary">
                        <th>Tên người giao hàng</th>
                        <th>Điện thoại</th>
                        <th style="width:80px"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.ShipperName</td>
                            <td>@item.Phone</td>
                            <td class="text-right">
                                <a href="~/Shipper/Edit/@item.ShipperId" class="btn btn-xs btn-info">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <a href="~/Shipper/Delete/@item.ShipperId" class="btn btn-xs btn-danger">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="text-center">
            <ul class="pagination">
                @for (int p = 1; p <= ViewBag.PageCount; p++)
                {
                    if (p == ViewBag.Page)
                    {
                        <li class="active"><a href="#">@p</a></li>
                    }
                    else
                    {
                        <li><a href="~/Shipper?page=p&searchValue=@ViewBag.SearchValue">@p</a></li>
                    }
                }
            </ul>
        </div>
    </div>
</div>