@model SV21T1020793.DomainModels.Supplier
@{
}
<div class="box box-primary">
    <div class="box-body">
        <form action="~/Supplier/Save" method="post">
            <input type="hidden" name="@nameof(Model.SupplierId)" value="@Model.SupplierId">
            <div class="form-group">
                <label>Tên nhà cung cấp:</label>
                <input type="text" class="form-control" name="@nameof(Model.SupplierName)" value="@Model.SupplierName">
            </div>
            <div class="form-group">
                <label>Tên liên lạc:</label>
                <input type="text" class="form-control" name="@nameof(Model.ContactName)" value="@Model.ContactName">
            </div>
            <div class="form-group">
                <label>Tỉnh/Thành:</label>
                <select class="form-control" name="@nameof(Model.Provice)">
                    <option value="">--- Chọn Tỉnh/Thành ---</option>
                    @foreach (var province in SV21T1020793.BusinessLayers.CommonDataService.ListOfProvinces())
                    {
                        if (province.ProvinceName == Model.Provice)
                        {
                            <option selected value="@province.ProvinceName">@province.ProvinceName</option>
                        }
                        else
                        {
                            <option value="@province.ProvinceName">@province.ProvinceName</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <label>Địa chỉ:</label>
                <input type="text" class="form-control" name="@nameof(Model.Address)" value="@Model.Address">
            </div>
            <div class="form-group">
                <label>Điện thoại:</label>
                <input type="text" class="form-control" name="@nameof(Model.Phone)" value="@Model.Phone">
            </div>
            <div class="form-group">
                <label>Email:</label>
                <input type="text" class="form-control" name="@nameof(Model.Email)" value="@Model.Email">
            </div>
            <div class="form-group text-right">
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-floppy-o"></i>Lưu dữ liệu
                </button>
                <a href="~/Supplier" class="btn btn-default">
                    Quay lại
                </a>
            </div>
        </form>
    </div>
</div>